# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/eeboxir/backend"
PassengerBaseURI "/"
PassengerNodejs "/home/eeboxir/nodevenv/backend/18/bin/node"
PassengerAppType node
PassengerStartupFile server.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END






# DO NOT REMOVE. PARSWEBSERVER DEVELOPER CONFIGURATION BEGIN
RewriteEngine On
RewriteRule ^/?(.*)$ http://127.0.0.1:6275/$1 [P,L]
# DO NOT REMOVE. PARSWEBSERVER DEVELOPER CONFIGURATION END
# DO NOT REMOVE. PARSWEBSERVER DEVELOPER CONFIGURATION BEGIN
RewriteEngine On
RewriteRule ^/?(.*)$ http://127.0.0.1:6275/$1 [P,L]
# DO NOT REMOVE. PARSWEBSERVER DEVELOPER CONFIGURATION END