@font-face {
  font-family: "iranyekan";
  src: url("../public/fonts/Iranyekan.ttf");
}

@font-face {
  font-family: "iranyekan-bold";
  src: url("../public/fonts/Iranyekan-bold.ttf");
}

@font-face {
  font-family: "cv";
  font-style: italic;
  src: url("../public/fonts/cv.otf");
}

* {
  font-family: "iranyekan" !important;
  text-align: right;
  text-decoration: none;
}

body {
  background-color: #fafafa !important;
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="number-slide"],
[class*=" number-slide"] {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 400px;
  max-height: 100vh;
}

.thumbnail .keen-slider__slide {
  font-size: 30px;
  margin-top: 10px;
  height: 100px;
}
.thumbnail .keen-slider__slide {
  cursor: pointer;
}
.thumbnail .keen-slider__slide.active {
  border: 2px solid black;
}

span.sd {
  text-align: center !important;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
